.app {
  margin: 0;
  padding: 0;
  left: 0;
  font-family: "Work Sans";
  min-height: 100vh;
  overflow: hidden;
}

/* Constants */
.submitButton {
  background-color: #ef4044;
  color: white;
  border: none;
  border-color: transparent;
  border-radius: 10px;
  width: 90px;
}

.submitButton-outlined {
  border-color: #ef4044;
  background: white;
  color: #ef4044;
  border-radius: 10px;
}

/* header */
.headerLogo {
  margin: 20px;
}

.header img {
  max-width: 10%;
}

.header-navbar {
  background: #ef4044;
  width: 1728px;
  height: 50px;
  top: 20px;
}

.homeCard {
  top: 50px;
}

/* home */
.forgotpassword {
  margin: 100px;
}

.forgotpassword-form-card {
  border-radius: 45px;
}

.forgotpassword-form-body {
  margin: 40px 10px 0px 10px;
}

.forgotpassword-form-input {
  margin-top: 30px;
}

.forgotpassword-form-input input {
  width: 100%;
  border-radius: 15px;
}

.forgotpassword-form-button {
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;
}

.forgotpassword-form-para {
  margin-top: 30px;
}

.forgotpassword-form-para a {
  text-decoration: none;
}

/* Login */
.login {
  margin: 100px;
}

.login-form-card {
  border-radius: 45px;
}

.login-form-body {
  margin: 40px 10px 0px 10px;
}

.login-form-input {
  margin-top: 30px;
}

.login-form-input input {
  width: 100%;
  border-radius: 15px;
}

.login-form-button {
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;
}

.login-form-para {
  margin-top: 30px;
}

.login-form-para a {
  text-decoration: none;
}

/* Register */
.register {
  margin: 100px;
}

.register-form-card {
  border-radius: 45px;
}

.register-form-body {
  margin: 40px 10px 0px 10px;
}

.register-form input {
  border-radius: 15px;
  border-color: black;
}

.register-input-container {
  position: relative;
}

.regiter-icon {
  position: absolute;
  top: 10%;
  left: 85%;
}

/* navbar */

.navbarLogo {
  margin: 20px;
}

.navbar img {
  max-width: 75%;
}

.navbar-navbar {
  background: #ef4044;
  width: 1728px;
  height: 50px;
  top: 20px;
}

/* Profile */
.profile-container {
  margin-left: 250px;
}

.profile-card {
  border-radius: 25px;
}

.achievements-card {
  border-radius: 25px;
}

.points-card {
  border-radius: 15px;
  width: 80px;
}

.points-container {
  margin: 10px;
}

/* Booking */
.booking-center h5 {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.booking-card {
  background-color: #fdecec;
  border-radius: 10px;
  border: none;
}

.booking-container {
  margin-left: 450px;
  margin-top: 50px;
}

.booking-card-body-text {
  text-decoration: none;
  color: black;
}

.booking-card-body-text:hover {
  color: black;
}

/* Flights */

.flights-card {
  background: #fdecec;
  border-radius: 10px;
  border: none;
  width: 8%;
  height: 90px;
  margin-left: 10px;
  position: absolute;
}

/* Search */
.search-card {
  width: 60%;
  margin: 50px 50px 0 350px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.search-card-container {
  border-radius: 20px;
  width: 80%;
  background-color: #f0ecec;
}

.search-card-body-container {
  display: flex;
  flex-direction: row;
}

.search-card-body-text-one p {
  font-size: 18px;
  font-weight: 600;
  margin-left: 30px;
  line-height: 50px;
}

.search-card-body-text-two {
  margin-left: 30px;
}

.search-card-body-text-two-para-one {
  font-size: 15px;
  margin-top: 15px;
}

.search-card-body-text-two-para-two {
  font-size: 13px;
  font-weight: 600;
  line-height: 0;
}

.search-card-body-text-three {
  margin-left: 30px;
}

.search-card-body-text-three p {
  font-size: 15px;
  margin-top: 15px;
}

.search-card-body-text-four {
  margin-left: 50px;
}

.search-card-body-text-four-para-one {
  font-size: 15px;
  margin-top: 15px;
}

.search-card-body-text-four-para-two {
  font-size: 13px;
  font-weight: 600;
  line-height: 0;
}

.search-card-body-header-one h6 {
  color: grey;
  font-size: 15px;
  margin-top: 10px;
}

.search-card-body-header-two h4 {
  color: #ef4044;
  margin-top: 8px;
}

.search-card-body-header-three {
  margin-top: 10px;
}

.first-card {
  margin: 30px;
}

.first-card-header {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.first-card-header h4 {
  color: #ef4044;
}

.first-card-container {
  border-radius: 20px;
  width: 50%;
  background-color: #f0ecec;
  margin-left: 370px;
}

.input-container {
  margin-bottom: 15px; /* Add some margin if needed */
}

.custom-input {
  border: none;
  border-bottom: 1px solid #ced4da;
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  outline: none;
}

.custom-input:focus {
  border-bottom: 2px solid #007bff;
}

.first-card-form {
  width: 60%;
}

.first-card {
  border-radius: 20px;
}

/* Success */
.success-card {
  width: 60%;
  margin-left: 300px;
  margin-top: 50px;
  border-radius: 20px;
}
